/* Force most text to lowercase */
div,
p,
span,
a,
li,
td,
th,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: lowercase !important;
}

/* Prevent lowercasing important elements */
form *,
code *,
pre * {
  text-transform: none !important;
}

/* Remove underlines from links */
a {
  text-decoration: none !important;
}

/* Make thumbnails and popups boring and gray */
img,
video,
aside {
  filter: contrast(85%) grayscale(100%) !important;
}
